.cover__link {
    width: 100%;
    position: absolute;
    top: 92px;
    bottom: 0;
    background-color: transparent;
    z-index: 4;
}

.cover__link:hover + .cover__overlay {
    opacity: 0.6;
}

@media screen and (max-width: 320px) {
    .cover__link {
        top: 66px;
    }
}