.cover__link {
    width: 100%;
    display: grid;
    align-items: center;
    justify-items: center;
    text-decoration: none;
    color: #fff;
}

.cover__link::after {
    width: 100%;
    content: " ";
    position: absolute;
    background-color: #2A2C2F;
    opacity: 0.3;
    top: 92px;
    bottom: 0;
}

.cover__link:hover::after {
    opacity: 0.8;
}
@media screen and (max-width: 320px) {
    .cover__link::after {
        top: 66px;
    }
}