.places__title {
    font-size: 72px;
    line-height: 76px;
    font-weight: 900;
    margin: 0;
    grid-column: 1;
}

@media screen and (max-width: 768px) {
    .places__title {
        font-size: 42px;
        line-height: 46px;
    }
}

@media screen and (max-width: 450px) {
    .places__title {
        grid-row: 1;
        grid-column: 2;
    }
}

@media screen and (max-width: 320px) {
    .places__title {
        font-size: 32px;
        line-height: 35px;
    }
}