.header {
    width: 1184px;
    display: grid;
    grid-template-columns: 75% 25%;
    align-items: center;
    justify-self: center;
}

@media screen and (max-width: 1024px) {
    .header {
        width: 928px;
    }
}

@media screen and (max-width: 768px) {
    .header {
        width: 720px;
    }
}

@media screen and (max-width: 320px) {
    .header {
        width: 288px;
    }
}