.header {
    width: calc(100vw - (48px*2));
    max-width: 1184px;
    min-width: 288px;
    display: grid;
    grid-template-columns: 176px calc(100% - 176px);
    align-items: center;
    justify-self: center;
}

@media screen and (max-width: 768px) {
    .header {
        width: calc(100vw - (24px*2));
    }
}

@media screen and (max-width: 320px) {
    .header {
        width: calc(100vw - (16px*2));
    }
}