.footer__copyright {
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
    text-align: right;
    margin: 0;
}

@media screen and (max-width: 720px) {
    .footer__copyright {
        justify-self: start;
        line-height: 14px;
        grid-row: 2;
        grid-column: 2;
    }
}