.cover {
    padding-top: 92px;
    position: relative;
    display: grid;
    align-items: center;
    justify-items: center;
}

@media screen and (max-width: 320px) {
    .cover {
        padding-top: 66px;
    }
}