.places__item {
    max-width: 984px;
    display: grid;
    grid-template-columns: minmax(min-content, max-content) minmax(min-content, max-content);
    column-gap: 40px;
    row-gap: 48px;
}

@media screen and (max-width: 1024px) {
    .places__item {
        max-width: 928px;
        column-gap: 32px;
    }
}

@media screen and (max-width: 928px) {
    .places__item {
        max-width: 720px;
        column-gap: 28px;
    }
}

@media screen and (max-width: 720px) {
    .places__item {
        grid-template-columns: calc((320px - 288px)/2) minmax(min-content, max-content) calc((320px - 288px)/2);
        gap: 32px 0;
    }
}